.ccm-ui {
    --bs-blue: #4a90e2;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #c32a2a;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #28a745;
    --bs-teal: #20c997;
    --bs-cyan: #027893;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6a6f7b;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f7f7f7;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #d8d8d8;
    --bs-gray-400: #9b9b9b;
    --bs-gray-500: #7c8088;
    --bs-gray-600: #6a6f7b;
    --bs-gray-700: #4c4f56;
    --bs-gray-800: #343a40;
    --bs-gray-900: #2c2c2c;
    --bs-primary: #4a90e2;
    --bs-secondary: #7c8088;
    --bs-success: #28a745;
    --bs-info: #027893;
    --bs-warning: #ffc107;
    --bs-danger: #c32a2a;
    --bs-light: #f7f7f7;
    --bs-dark: #4c4f56;
    --bs-primary-rgb: 74,144,226;
    --bs-secondary-rgb: 124,128,136;
    --bs-success-rgb: 40,167,69;
    --bs-info-rgb: 2,120,147;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 195,42,42;
    --bs-light-rgb: 247,247,247;
    --bs-dark-rgb: 76,79,86;
    --bs-primary-text-emphasis: #1e3a5a;
    --bs-secondary-text-emphasis: #323336;
    --bs-success-text-emphasis: #10431c;
    --bs-info-text-emphasis: #01303b;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #4e1111;
    --bs-light-text-emphasis: #4c4f56;
    --bs-dark-text-emphasis: #4c4f56;
    --bs-primary-bg-subtle: #dbe9f9;
    --bs-secondary-bg-subtle: #e5e6e7;
    --bs-success-bg-subtle: #d4edda;
    --bs-info-bg-subtle: #cce4e9;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f3d4d4;
    --bs-light-bg-subtle: #fbfbfb;
    --bs-dark-bg-subtle: #9b9b9b;
    --bs-primary-border-subtle: #b7d3f3;
    --bs-secondary-border-subtle: #cbcccf;
    --bs-success-border-subtle: #a9dcb5;
    --bs-info-border-subtle: #9ac9d4;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #e7aaaa;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #7c8088;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #4c4f56;
    --bs-body-color-rgb: 76,79,86;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-secondary-color: rgba(76,79,86,.75);
    --bs-secondary-color-rgb: 76,79,86;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233,236,239;
    --bs-tertiary-color: rgba(76,79,86,.5);
    --bs-tertiary-color-rgb: 76,79,86;
    --bs-tertiary-bg: #f7f7f7;
    --bs-tertiary-bg-rgb: 247,247,247;
    --bs-heading-color: inherit;
    --bs-link-color: #4a90e2;
    --bs-link-color-rgb: 74,144,226;
    --bs-link-decoration: none;
    --bs-link-hover-color: #3b73b5;
    --bs-link-hover-color-rgb: 59,115,181;
    --bs-code-color: #d63384;
    --bs-highlight-color: #4c4f56;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #d8d8d8;
    --bs-border-color-translucent: rgba(0,0,0,.075);
    --bs-border-radius: 3px;
    --bs-border-radius-sm: 2px;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0,0,0,.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(74,144,226,.25);
    --bs-form-valid-color: #28a745;
    --bs-form-valid-border-color: #28a745;
    --bs-form-invalid-color: #c32a2a;
    --bs-form-invalid-border-color: #c32a2a
}
